
.body{
    position: relative;
    width: 100%;
    height: 100;
    background-color: rgb(138, 51, 192);
}
barra-superior{
    height: 70px;
}
menu{
    position: relative;
    width: 100%;
   // top: 70px;
   margin : 0;
   padding : 0;
}
login,registro{
    position: relative;
    width: 100%;
    height: 100%;
}
p{
    font-size: 1.3rem;
}
.opciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    width: 100%;
    //color: white;
}
.opcion1,.opcion2{
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 1px;
    //background-color: #7B1FA2;
}
lista-cotizaciones{
    margin-top: 5%;
}
estadisticas-compra{
    width: 50%;
}
.card{
    background-color: rgb(138, 51, 192);
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-direction: row;
    width: 100%;
}
mat-card{
    position: relative;
    width: 30%;
    height: 150px;
    background-color: white;
}
mat-card-header,mat-card-title{
    position: relative;
    width: 100%;
    text-align: center;
}
.contenido_card{
    font-size: 0.8rem;
}
@media (max-width: 768px){
    .card{
        flex-direction: column;
    }
    mat-card{
        width: 100%;
        margin-top: 10px;
    }
}
app-loader{
    position: absolute;
    z-index: 100 ;
    width: 100%;
    left: 30%;
    height: 50%;;
    height: 100% ;
}