<div class="body">
    <barra-superior (changeIconEmitter)="changeIsPrincipal($event)"
                
                (ver_menu)="changeVerMenu($event)"
                [iconProfile]="!isPrincipal"
                [isLogeado]="!isLogeado" 
                
></barra-superior>
<menu   *ngIf="verMenu" 
        (cerrar_menu)="this.cerrar_menu($event)"
        @enterState
        (out_salir)="this.salir()">
</menu>
<lista-cotizaciones *ngIf="!isPrincipal || isLogeado" (outputUSDBTC)="this.changeUSDBTC($event)">   
</lista-cotizaciones >

<div class="principal" *ngIf="isPrincipal && !isLogeado">
    <div class="opciones">
        <div class="opcion1"  [ngStyle]="{'color': 
        estado_login ? 'white':'#7B1FA2' ,'background-color': estado_login ? '#7B1FA2':  'white'  }" (click)="ver_registro()">
            <p>Ingresar</p>
        </div>
        <div class="opcion2" [ngStyle]="{'color': 
        estado_login ?  '#7B1FA2' : 'white' ,'background-color': estado_login ?  'white':'#7B1FA2' }" (click)="ver_login()">
            <p>Registrarme</p>
        </div>
    </div>
    <login *ngIf="!this.estado_login" @state (cerra_ventana)="this.changeIsPrincipal($event)"></login>
    <registro *ngIf="this.estado_login" (cerra_ventana)="this.changeIsPrincipal($event)" @state></registro>
</div>
<div class="secundario" *ngIf="isLogeado">
    <app-lista-monedas>
    </app-lista-monedas>
    
    <estadisticas-contratos >
    </estadisticas-contratos> 

    <estadisticas-compra [id_usuario]="this.id_usuario" *ngIf="this.isVerEstadisticas">
    </estadisticas-compra> 
     
</div>

<div class="card" *ngIf="!isPrincipal">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Portafolios de wallets
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <p class="contenido_card">Un registro con valor en tiempo real, de todos tus cryptomonedas.
                    Puedes ingresar ingresos y egresos de monederos de wallets y exchangers
                </p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Kuanliandp
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <p class="contenido_card">En un solo lugar, todos tus contratos, con estadisticas de compra de unidades, dinero invertido, dinero recuperado y más.</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
               Ganancias
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <p class="contenido_card">De acuerdo a tus movimientos registrados, te decimos a que promedio 
                    has comprado y vendido y que precio deberías vender para recuerar el dinero invertido. 
                </p>
 
        </mat-card-content>
    </mat-card>
</div>
<logos-proveedores  *ngIf="!isPrincipal">
</logos-proveedores>
</div>