barra-superior{
    height: 70px;
}
menu{
    position: relative;
    width: 100%;
   // top: 70px;
   margin : 0;
   padding : 0;
}
login,registro{
    position: relative;
    width: 100%;
}
p{
    font-size: 1.3rem;
}
.opciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    width: 100%;
    //color: white;
}
.opcion1,.opcion2{
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 1px;
    //background-color: #7B1FA2;
}
lista-cotizaciones{
    margin-top: 5%;
}
estadisticas-compra{
    width: 50%;
}