<barra-superior (changeIconEmitter)="changeIsPrincipal($event)" 
                (ver_menu)="changeVerMenu($event)"
                [iconProfile]="!isPrincipal"
                [isLogeado]="!isLogeado" 
                
></barra-superior>
<menu   *ngIf="verMenu && this.isLogeado" 
        (cerrar_menu)="this.cerrar_menu()"
        @enterState>
</menu>
<div class="header">
        <p>Nueva operación</p>
</div>
<nuevo-monedero *ngIf="!this.isNuevoMonedero" (isNuevoMonedero)="this.isNuevoMonedero=$event"></nuevo-monedero>
<nuevo-saldo *ngIf="!this.isNuevoMonedero"></nuevo-saldo>
 