menu{
    position: relative;
    width: 100%;
   margin : 0;
   padding : 0;
}
.header{
    display: flex;
    width: 100%;
    justify-content: center;
 
}
.botones{
    display: flex;
    flex-direction: column;
}

.mis_contratos{
    font-size: 2rem;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-nuevo{
    left: 25%;
    width: 50%;
}
.card-header{
    background-color: rgb(119, 109, 180);
    color: white;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
.card-body,mat-form-field,.botonGuardar{
    position: relative;
    width: 100%;
}


@media (max-width:768px){
    .card-nuevo{
        left: 0%;
        width: 100%;
    }
    .graficoYmonedas{
        width: 100%;
        position: relative;
        // display: flex;
        // flex-direction: column;

    }
    .bodyMonedas{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row; 
    }
    .boton{
        position: relative;
        display: flex;
        justify-content: center;
        width: 50%;
    }
}
@media(min-width : 768px) {
    .graficoYmonedas{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .bodyMonedas{
        position: relative;
        width: 50%;
        left: 25%;
        display: flex;
        justify-content: space-around;
        flex-direction: column; 
   
    }
    .boton{
        position: relative;
        width: 50%;
    }
    .grafico{
        position: relative;
        width:50%;
        height: 50%;
        justify-content: center;
    }
}