menu{
    position: relative;
    width: 100%;
   margin : 0;
   padding : 0;
}
.buton_agregar{
    margin-top: 10px;
    position: relative;
    width: 50%;
    left: 25%; 
    margin-bottom: 20px;
}
.mis_contratos{
    font-size: 2rem;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
