<div class="principal">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                <h3>Proveedores de precios</h3>
            </mat-card-title>
        </mat-card-header>
            <mat-card-content class="body">
                <div class="logo">
                    <img  src="../../../assets/decypto.png" alt="" style="color: black;">
                </div>
               <div class="logo"> 
                   <img src="../../../assets/sato.svg" alt="">
                </div>
                <div class="logo">
                    <img src="../../../assets/bitstamp.svg" alt="">
                </div>
               <div class="logo">
                    <img src="../../../assets/argenbtc.svg" alt="">
               </div>
                <div class="logo">
                    <img src="../../../assets/coinbase-vector-logo.svg" alt="">
                </div>
               <div class="logo">
                <img src="../../../assets/Bit2Me Logo Blue.svg" alt="">
               </div>
            </mat-card-content>
    </mat-card>
   
</div>