mat-card-header{
    display: flex;
    justify-content: center;
    background-color: rgb(138, 51, 192);
     height: 50px;
}
mat-card-title{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    height: 50px;
    font-size: 1.5rem !important;
    color: white;
}
mat-card {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-bottom: 15px;
    border: solid 1px ;
    background-color: rgb(138, 51, 192);;
}
 
mat-card-content{
    position: relative;
    border: solid 1px;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.monedaList,.titulo{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.monedaItem,.titulos,.footer{
    background-color: white;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    
}
.titulos{
    background-color: white;
    font-size: 1.2rem;
    font-weight: bold;

    
}
.itemfooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    font-weight: bold;
    flex-direction: column;
}
.tituloNombre{
    font-size: 1.2 rem;
}
// .encabezado,.proveedor,.cantidad.venta_1,.venta_2,.venta_3{
//     position: relative;
//     width: 20%;
//     display: flex;
//     flex-direction: row;
// }