<div class="card">
     <p class="p_titulo">{{contrato.categoria}}</p> 
    <div class="card-body">
       <div class="dato">
            <p class="p_head"> Cantidad de Kuals: </p><p class="p_body">{{contrato.cantidad}}</p>
       </div>
       <div class="dato">
            <p class="p_head"> Pagos recibidos: </p><p  class="p_body"> {{contrato.pagos_registrados}} / 1000<p> 
        </div>
        <div class="dato">
            <p  class="p_head"> ETH: </p><p  class="p_body">{{contrato.eth_pagado}}</p>
        </div>
        <div class="dato">
            <p  class="p_head"> Cotizacion ETH  invertido: </p><p  class="p_body">{{contrato.cantidad*cotizacionCopayVenta}}</p>
        </div>
        <div class="dato">
            <p  class="p_head"> ETH recibido: </p><p  class="p_body"> {{contrato.eth_recibido}}</p>
        </div>
        <div class="dato">
            <p  class="p_head"> Cotizacion ETH  recibido: </p><p  class="p_body">{{contrato.eth_recibido*cotizacionCopayVenta}}</p>
        </div>
    
    </div>
</div>
<button mat-raised-button color="primary" (click)="volver()"> Volver</button>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="id" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let i = index">{{ this.paginator.pageIndex == 1 ?  i : i + this.paginator.pageIndex * this.paginator.pageSize}}</td>
      </ng-container>
      <ng-container matColumnDef="create_at"   >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA </th>
        <td mat-cell *matCellDef="let element"> {{element.create_at | date:'dd/MM/yy'}} </td>
      </ng-container>
      <ng-container matColumnDef="eth_pagado"  >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ETH RECIBIDO </th>
        <td mat-cell *matCellDef="let element"> {{element.eth_pagado}} </td>
      </ng-container>
      <ng-container matColumnDef="cotizacion"  >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cotizacion usd </th>
        <td mat-cell *matCellDef="let element"> {{element.eth_pagado * this.cotizacionCopayVenta}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10,25, 50]" showFirstLastButtons></mat-paginator>
 