.principal{
    position: absolute;
    width: 100%;

    margin-top: 15px;
}
mat-form-field{
    position: relative;
    width: 100%;
}
.p_titulo{
    position: relative;
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
}
button{

    width: 100%;
}