
.cardCentral{
    position: relative;
    width: 100%;
    background-color: rgb(138, 51, 192);;
}.card-header{
    display: flex;
    justify-content: center;
    height: 50px;
}
.opciones-monedas{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}
.posesion{
    display: flex;
    justify-content: center;
}
    
.cardTotal{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 2rem;
    color: rgb(69, 9, 97);
}
.body{
    width: 100%;
    display:flex;position: relative;
    justify-content: center;
    text-align: center;
}
span{
    width: 50%;
}
.bodyMonedas{
    position: relative;
    width: 100%;
}
app-moneda{
    position: relative;
    width: 100%;
}
a:nth-child(2){
    background: linear-gradient(90deg,rgb(233, 233, 233),#1b2425);
}
@media (max-width:768px){
    .cardTotal{
        font-size: 1.35rem;

    }
}