.botones{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media(min-width:768px){
    .nuevo_monedero{
        position: relative;
        width: 33%;
    }
}