menu{
    position: relative;
    width: 100%;
   margin : 0;
   padding : 0;
}
.botones-monedas{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
button{
    width: 25%;
 
}
.dato{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    justify-content: space-around;
    align-content: center;
}
img{
    position: relative;
    max-height: 50px;
    max-width: 50px;
}
.base{
    position: relative;
    top: 25%;
}