<mat-card>
    <div class="header">
        <div class="header2">
            <img src="../../../assets/HR.png" alt="Photo of a Shiba Inu" *ngIf="this.contrato.categoria=='Alto riesgo'">
            <img src="../../../assets/MR.png" alt="Photo of a Shiba Inu"*ngIf="this.contrato.categoria=='Medio riesgo'">
            <img src="../../../assets/LR.png" alt="Photo of a Shiba Inu" *ngIf="this.contrato.categoria=='Bajo riesgo'">
        </div>
        <div class="header1">
                <div class="dato">
                <p>{{contrato.categoria}}</p>
                </div>
                <div class="dato">
                    <p>Cantidad:</p><p>{{contrato.cantidad}}</p>
                </div>
        
                <div  class="dato"> 
                    <p>ETH recibido-pagado:</p><p> {{this.contrato.eth_recibido|| 0 | number:'1.2-5' }} /{{this.contrato.eth_pagado}}</p>
                </div>
              <div class="dato">  
                <p>Recuperado:</p><p> {{this.ganancia | number:'1.2-3'  }}&nbsp;%</p>
              </div>
            <div class="dato"> 
                                   <p>Monedero:</p><p>{{this.contrato.monedero}}</p>
            </div>
            <div class="dato">  
              <p>Pagos recibidos:</p><p> {{this.contrato.pagos_registrados || 0 }}</p>
            </div>
        </div>
    </div>
        <mat-card-actions>
            <button mat-raised-button color="primary" 
                    *ngIf="this.contrato.status=='Sin activar'"
                    (click)="activar()">Activar
            </button>
            <button mat-raised-button
                    color="primary" 
                    [disabled]="this.contrato.status!='Activo'"  
                    (click)="this.registrar_pago()">Agregar pago
            </button>
            <button mat-raised-button
            color="primary" 
            [disabled]="this.contrato.status!='Activo'"  
            (click)="this.ver_historial()">Historial
    </button>
        </mat-card-actions>
<!-- 
    
    <mat-card-content>
        <div class="dato">
            <p>Cantidad:</p><p>{{contrato.cantidad}}</p>
        </div>
        <div  class="dato">
            <p>{{this.contrato.status}}</p> <p>{{this.contrato.create_at}}</p>
        </div>
        <div  class="dato"> 
            <p>ETH pagado:</p><p> {{this.contrato.eth_pagado}}</p>
        </div>
        <div class="dato"> 
           <p>Monedero:</p><p>{{this.monedero}}</p>
        </div>
        <div class="dato">  
          <p>Pagos recibidos:</p><p> {{this.contrato.pagos_registrados || 0 }}</p>
        </div>
    </mat-card-content> -->
</mat-card>